.catalogue-container{
    margin-left: 30px;
}
.table-items {
    text-align: left;
    border-collapse: collapse;
    width: 99%;
}

.table-items td, .table-head{
    padding: 5px 5px 5px 5px;
    border: 1px darkcyan solid;
}
.table-head{
    background-color: rgb(6, 155, 155);
    color: aliceblue;
}
.table-title, .title, .table-filter{
    color: darkcyan;
}
.table-filter{
    text-align: right;
}
.button-info{
    border: none;
    background-color: white;
    font-weight: bold;
}
.button-info:hover{
    color:  rgb(39, 190, 190);
}
.new-button {
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 12%;
    height: 30px;
    font-weight: bold;
    border-radius: 8px;
    color: rgb(14, 91, 97);
    border: rgb(14, 91, 97) thin solid;
    background: aliceblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.new-button:hover {
    background: rgb(14, 91, 97);
    color: aliceblue;
}