.footer-container{
    color:aliceblue;
    text-align: center;
    background-color:  rgb(39, 190, 190);
    margin-top: 1rem;
    padding: 4px;
    position: sticky;
    bottom: 0;
    width: 100%;
}