
.header-container {
    background-color:  rgb(39, 190, 190);
    overflow: hidden;
    padding: 2px 1px;
    color: white;
    font-size: 20px;
  }

  .header-title{
      color: white;
      position: relative;
      text-align: center;
  }
  .header-logout{
    text-decoration: none;
    float:right;
    margin-right: 4px;
    color: darkcyan;
    font-weight: bold;
  }
  .header-logout {
    border: rgb(14, 91, 97) thin solid;
    font-weight: bold;
    border-radius: 4px;
    color: rgb(14, 91, 97);
    background: aliceblue;
}
.header-logout:hover {
    background: rgb(14, 91, 97);
    color: aliceblue;
}

.header-back{
    border: none;
    font-weight: bold;
    margin-left: 4px;
    border-radius: 4px;
    color: rgb(14, 91, 97);
    background:  rgb(39, 190, 190);
}
.header-back:hover {
  color: rgb(146, 236, 236);
}
.new-button {
  width: auto;
  margin-left: 5px;
  height: 30px;
  font-weight: bold;
  border-radius: 8px;
  color: rgb(14, 91, 97);
  border: rgb(14, 91, 97) thin solid;
  background: aliceblue;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.new-button:hover {
  background: rgb(14, 91, 97);
  color: aliceblue;
}