.item-container{
    margin-left: 30px;
}

.inline-label{
    display:inline;
    margin-right: 3px;
    margin-left: 4px;
}
.block-label{
    display: block;
}
.item-form textarea{
    resize:none;
    width: 50%;
    margin-top: 5px;
}
.state-item-button{
    display: block;
    margin-right: 20%;
    margin-bottom: 20px;
    background-color: aliceblue;
    border-radius: 3px;
    color: darkcyan;
    border: darkcyan solid 1px;
}
.state-item-button:hover{
    background-color: darkcyan;
    color: aliceblue;
}
.button-item{
    margin-top: 20px;
    display: block;
    border: none;
    border-radius: 3px;
    color: rgb(88, 139, 10);
    border: rgb(88, 139, 10) solid 1px;
    background-color: aliceblue;
    font-weight: bold;
}
.button-item:hover{
    color: aliceblue;
    background-color: rgb(88, 139, 10);
}
.msg-error{
    color: brown;
    font-weight: bold;
}

.msg-ok{
    color: rgb(88, 139, 10);
    font-weight: bold;
}
.div{
    display: flex;
    width: 100%;
}
.supplier-list, .my-supplier-list, .price-reduction-list, .my-price-reduction-list{
    width: 40%;
    height: 150px;
    line-height: 3em;
    overflow: scroll;
    border: thin darkcyan solid;
    margin-top: 2px;
}
.supplier-list, .price-reduction-list{
    margin-left: 40px;
}
.remove-button{
    border: none;
    border-radius: 3px;
    color: brown;
    border: brown solid 1px;
    background-color: aliceblue;
    font-weight: bold;
}
.add-button{
    border: none;
    border-radius: 3px;
    color: blue;
    border: blue solid 1px;
    background-color: aliceblue;
    font-weight: bold;
}
.remove-button:hover{
    color: aliceblue;
    background-color: brown;
}
.add-button:hover{
    color: aliceblue;
    background-color:blue;
}